<p-panel class="p-1" header="Pipes personlizados en Angular">
    <p>
        Custom pipes
    </p>
</p-panel>

<div class="col-12 md:col-4">
    <p-card header="TogglePipe">
        Ejemplo: {{'nosotros' | toggleCase}}
    </p-card>
</div>
<p-toolbar>
    <div class="p-toolbar-group-start">
        <p-button label="ToggleCase" icon="pi pi-arrows-v" styleClass="p-button-success"></p-button>
    </div>

    <div class="p-toolbar-group-end">
        <p-button label="Por nombre" icon="pi pi-sort" class="mr-2"></p-button>
        <p-button label="Por volar" icon="pi pi-calendar" styleClass="p-button-success mr-2"></p-button>
        <p-button label="Por color" icon="pi pi-times" styleClass="p-button-danger"></p-button>
    </div>
</p-toolbar>